<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <express>
                <active>0</active>
                <model>PHPCuong\ShippingExpress\Model\Carrier\Express</model>
                <name>Express</name>
                <price>10.00</price>
                <title>Shipping Express</title>
                <type>I</type>
            </express>
        </carriers>
    </default>
</config>
